body{
  margin: 0;
  padding: 0;
}
.jumbotron{
  background:url("../backgrounds/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  padding: 0;
}
.happy{
  background-color: #FFFFFF;
  text-align: center;
  font-family:serif;
  font-size: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
}
.party{
    background-color: #F15A29;
    text-align: center;
    font-family:serif;
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 5%;
    padding-bottom: 5%;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.provide{
  text-align: center;
  font-family:serif;
  font-size: 50px;
  padding: 5%;

}
.rightplace{
  color: #FFFFFF;
}
.breakfast{
  background:url("../foodtop/breakfast.jpg");
  background-size: cover;
  padding: 17%;
  text-align: center;
  margin: 0;

}
.lunch{
  background:url("../foodtop/lunch.jpg");
  background-size: cover;
  padding: 17%;
  text-align: center;
}
.dinner{
  background:url("../foodtop/dinner2.jpg");
  background-size: cover;
  padding: 17%;
  text-align: center;
}
.no-gutter > [class*='col-'] {
      padding-right:0;
      padding-left:0;
      padding-top:0;
      padding-bottom: 0;
      margin-top: -1%;
}
.delicious{
  text-align: left;
}
.pic{
float: left;
}
.drinks{
text-align: right;
width: 60%;
margin: 0;
padding: 0;
float: right;
}
.panel-default{
  padding: 10%;
  width: 500px;
  align-content: center;
}
.container{
  margin:auto;
}
