body{
  margin: 0;
  padding: 0;
}
.jumbotron{
  background:url("../backgrounds/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.happy{
  background-color: #FFFFFF;
  text-align: center;
  font-family:serif;
  font-size: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
  cursor: pointer;
}
.party{
    background-color: #F15A29;
    text-align: center;
    font-family:serif;
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 5%;
    padding-bottom: 5%;
    cursor: pointer;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.provide{
  text-align: center;
  font-family:serif;
  font-size: 50px;
  padding: 5%;
cursor: pointer;
}
.rightplace{
  color: #FFFFFF;
}
.breakfast{
  background:url("../foodtop/breakfast.jpg");
  background-size: cover;
  padding: 17%;
  text-align: center;
  margin: 0;
cursor: pointer;
}
.lunch{
  background:url("../foodtop/lunch.jpg");
  background-size: cover;
  padding: 17%;
  text-align: center;
  cursor: pointer;
}
.dinner{
  background:url("../foodtop/dinner2.jpg");
  background-size: cover;
  padding: 17%;
  text-align: center;
  cursor: pointer;
}
.no-gutter > [class*='col-'] {
      padding-right:0;
      padding-left:0;
      padding-top:0;
      padding-bottom: 0;
      margin-top: -1%;
}
.delicious{
  text-align: left;
  float: left;
  width: 60%;
}
.mypic{
float: right;
margin-left: 25%;
}
.drinks{
text-align: right;
width: 60%;
margin: 0;
padding: 0;
float: right;
}
.panel-default{
  padding: 10%;
  width: 500px;
  align-content: center;
}
.container{
  margin:auto;
}
.bg{
  background: url("../backgrounds/foodsBg.jpg");
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
}
.fastwhite{
  background-color: #FFFFFF;
  color: #F15A29;
  padding: 1%;
  text-align: center;
}
.drinkgrey{
  background-color: #ebebe0;
  color: #000000;
  padding: 1%;
  text-align: center;
  border-left: 1px solid #bfbfbf;
}
.ffood{
  background-color: #FFFFFF;
  padding: 3%;
}
.arrow{
  color: #F15A29;
  padding: 7%;
  border-radius: 4px;
  font-size: 20px;
}
.our{
   color:red;
   text-align:center;
}
.geo{
  font-weight: bold;
  text-align: center;
}
.wording{
  text-align: center;
}
